<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8" />
        <title>admin</title>
        <script>
            var data = '<%= JSON.stringify(data) %>';
            // var username = '<%= JSON.stringify(username) %>';
            // alert('<%= (data) %>');
        </script>
		<link rel="stylesheet" type="text/css" href="../css/new.css"/>

	</head>
	<body background="../images/jun5.jpg" style="background-size:100%; background-repeat:no-repeat";>
			<p>
		<span style="font-size: 20pt; line-height: 50%; font-family: 华文行楷">
		<b>供货商</b><span><%= (username) %></span><b>已登录，欢迎！</b>	
		</span></p>	
	
		<p align="center">
	<span style="font-size: 70pt; color: rgba(0, 128, 0, 1); line-height: 150%; font-family: 华文行楷">
	<b>被装精确申领平台</b>
	</span></p>	

<div class = "mydiv">
<table width="300" border="1" bgcolor="white">
 <tr>
  <th align="left">被装种类</th>
  <th align="right">剩余数量</th>
 </tr>
 
 <tr>
  <td align="left">背囊</td>  <!--id = 1-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">被子</td>  <!--id = 2-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">毛巾</td>  <!--id = 3-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">雨衣</td>  <!--id = 4-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">外腰带</td>  <!--id = 5-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">作战靴</td>  <!--id = 6-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">枕头</td>  <!--id = 7-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">体能服</td>  <!--id = 8-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">跑鞋</td>  <!--id = 9-->
  <td align="right">1</td>
 </tr>
 <tr>
  <td align="left">迷彩大衣</td>  <!--id = 10-->
  <td align="right">1</td>
 </tr>
  <tr>
  <td align="left">迷彩服</td>  <!--id = 11-->
  <td align="right">1</td>
 </tr>
 

 
</table>
</div>
		

        
		

	</body>
</html>
