<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>详情页</title>
        <link rel="stylesheet" type="text/css" href="../css/public.css" />
        <link rel="stylesheet" type="text/css" href="../css/proList.css" />
        <script>
            var data = '<%= JSON.stringify(data) %>';
            var usename = '<%= JSON.stringify(username) %>';
            // alert('<%= (data) %>');
        </script>
    </head>
    <body>
        <div class="toptitle">
            <div class="username">
                <p>
                    <span style="font-size: 20pt; line-height: 50%; font-family: 华文行楷">
                        <b>用户</b>
                        <span><%= (username) %></span>
                        <b>已登录，欢迎！</b>
                    </span>
                </p>
            </div>

            <div>
                <p align="center">
                    <span
                        style="
                            font-size: 70pt;
                            color: rgba(0, 128, 0, 1);
                            line-height: 300%;
                            font-family: 华文行楷;
                        "
                    >
                        <b>被装精确申领平台</b>
                    </span>
                </p>
            </div>
        </div>
        <div class="detCon">
            <div class="proDet wrapper">
                <div class="proCon clearfix">
                    <div class="proImg fl">
                        <img class="det" src="../image/被子.jpg" />
                    </div>
                    <div class="fr intro">
                        <div class="title">
                            <h4>被子</h4>
                            <span>￥18.90</span>
                        </div>
                        <div class="proIntro">
                            <p>
                                数量&nbsp;&nbsp;库存
                                <span><%= (data) %></span>
                                件
                            </p>
                            <!--应该有一个数据库操作的function-->
                        </div>
                        <div class="btns clearfix">
                            <a href="cart.html"><p class="buy fl">加入购物车</p></a>
                            <!--应该有一个数据库操作的function-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
