<!DOCTYPE html>
<html>

	<head lang="en">
		<meta charset="utf-8" />
		<title>挑选被装</title>
		<script>
            var data = '<%= JSON.stringify(data) %>';
            var username = '<%= JSON.stringify(username) %>';
            // alert('<%= (data) %>');
		</script>
		<script type="text/javascript" src="javascripts/jquery.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/public.css"/>
		<link rel="stylesheet" type="text/css" href="../css/proList.css"/>
	</head>
	<script type="text/javascript" src="../javascripts/fun_logout.js"></script>
	<body>
        <div class="toptitle">
            <div class="username">
                <p>
                    <span style="font-size: 20pt; line-height: 50%; font-family: 华文行楷">
         				<b>用户</b>
                        <span><%= (username) %></span>
                        <b>已登录，欢迎！</b>
                    </span>
                </p>
            </div>
			<div class="username">
                <p>
                    <span style="font-size: 20pt; line-height: 20%; font-family: 华文行楷">
         				
                        <a class="logout"  color: #0099cc;>退出登录</a>
                        
                    </span>
                </p>
            </div>
            <div>
                <p align="center">
                    <span
                        style="
                            font-size: 70pt;
                            color: rgba(0, 128, 0, 1);
                            line-height: 300%;
                            font-family: 华文行楷;
                        "
                    >
                        <b>被装精确申领平台</b>
                    </span>
                </p>
            </div>
        </div>
		
	</div>

		<ul class="proList wrapper clearfix">
			<li>
				<a href="tinengfu">
					<dl>
						<dt><img src="../image/体能服.jpg"></dt>
						<dd>体能服</dd>   <!--id = 8-->
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			
			<li>
				<a href="micaifu">
					<dl>
						<dt><img src="../image/迷彩服.jpg"></dt>
						<dd>迷彩服</dd>   <!--id = 11-->
						<dd>￥25.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="yuyi">
					<dl>
						<dt><img src="../image/雨衣.jpg"></dt>
						<dd>雨衣</dd>   <!--id = 4-->
						<dd>￥20.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="micaidayi">
					<dl>
						<dt><img src="../image/迷彩大衣.jpg"></dt>
						<dd>迷彩大衣</dd>   <!--id = 10-->
						<dd>￥30.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="beinang">
					<dl>
						<dt><img src="../image/背囊.jpg"></dt>
						<dd>背囊</dd>   <!--id = 1-->
						<dd>￥17.90</dd>
					</dl>
				</a>
			</li>
			
			<li>
				<a href="beizi">
					<dl>
						<dt><img src="../image/被子.jpg"></dt>
						<dd>被子</dd>   <!--id = 2-->
						<dd>￥18.90</dd>
					</dl>
				</a>
			</li>
			
			<li>
				<a href="maojin">
					<dl>
						<dt><img src="../image/毛巾.jpg"></dt>
						<dd>毛巾</dd>   <!--id = 3-->
						<dd>￥9.90</dd>
					</dl>
				</a>
			</li>
			<li>
				<a href="zhentou">
					<dl>
						<dt><img src="../image/枕头.jpg"></dt>
						<dd>枕头</dd>   <!--id = 7-->
						<dd>￥23.90</dd>
					</dl>
				</a>
			</li>
			
			
			
			
			<li>
				<a href="zuozhanxue">
					<dl>
					<dt><img src="../image/作战靴.jpg"></dt>
					<dd>作战靴</dd>   <!--id = 6-->
					<dd>￥22.90</dd>
				</dl>
				</a>
			</li>
			
			<li>
				<a href="waiyaodai">
					<dl>
					<dt><img src="../image/外腰带.jpg"></dt>
					<dd>外腰带</dd>   <!--id = 5-->
					<dd>￥15.90</dd>
				</dl>
				</a>
			</li>
			
			<li>
				<a href="shoutao">
					<dl>
						<dt><img src="../image/手套.jpg"></dt>
						<dd>手套</dd>   <!--id = 10-->
						<dd>￥30.90</dd>
					</dl>
				</a>
			</li>
			
			
			<li>
				<a href="paoxie">
					<dl>
						<dt><img src="../image/跑鞋.jpg"></dt>
						<dd>跑鞋</dd>   <!--id = 9-->
						<dd>￥22.90</dd>
					</dl>
				</a>
			</li>
			
			
			
			

		</ul>


		<div class="gotop">
			<a href="cart">
			<dl class="goCart">
				<dt><img src="../img_temp/gt1.png"/></dt>
				<span><%= (allnum) %></span>
			</dl>
			</a>			
		</div>

	</body>
</html>
