<!DOCTYPE html>
<title>购物成功</title>
<body background="../images/jun5.jpg" style="background-size: 100%; background-repeat: no-repeat" ;>
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <p align="center">
        <span
            style="
                font-size: 70pt;
                color: rgba(0, 128, 0, 1);
                line-height: 150%;
                font-family: 华文行楷;
            "
        >
            <b>被装精确申领平台</b>
        </span>
    </p>

    <div style="text-align: center; margin-top: 170px">
        <div style="margin-top: 10px">
            <span style="font-size: 45pt; color: #cc3333; line-height: 100%; font-family: 华文行楷">
                购物结束，点击
                <a href="/shop">这里</a>
                继续购物
            </span>
        </div>
    </div>
</body>
