<!DOCTYPE html>
<title>用户未注册</title>
<body background="images/jun5.jpg" style="background-size: 100%; background-repeat: no-repeat" ;>
    <link rel="stylesheet" type="text/css" href="stylesheets/style_cly.css" />
    <p align="center">
        <span
            style="
                font-size: 70pt;
                color: rgba(0, 128, 0, 1);
                line-height: 150%;
                font-family: 华文行楷;
            "
        >
            <b>被装精确申领平台</b>
        </span>
    </p>

    <div style="text-align: center; margin-top: 150px">
        <span style="font-size: 30pt; color: #0099cc; line-height: 100%; font-family: 华文行楷">
            用户未注册，点击
            <a href="login">这里</a>
            重新登陆
        </span>
    </div>
</body>
