<!DOCTYPE html>
<title>密码错误</title>
<body background="jun5.jpg" style="background-size: 100%; background-repeat: no-repeat" ;>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <p align="center">
        <span
            style="
                font-size: 70pt;
                color: rgba(0, 128, 0, 1);
                line-height: 150%;
                font-family: 华文行楷;
            "
        >
            <b>被装精确申领平台</b>
        </span>
    </p>

    <div style="text-align: center; margin-top: 150px">
        <span style="font-size: 30pt; color: #0099cc; line-height: 100%; font-family: 华文行楷">
            您输入的密码错误 ，点击
            <a href="login.html">这里</a>
            重新登录
        </span>
    </div>
</body>
